@import '~styles/main-utils';

.action {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: spacing('3xl');
  width: spacing('3xl');
  cursor: pointer;
  user-select: none;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: opacity('70');
    transition: opacity 100ms ease-in-out;
  }
}
