@import '~styles/main-utils';

.article-aside {
  --aside-image-height: 80px;
  --aside-image-width: calc(var(--aside-image-height) + (var(--aside-image-height) * 0.25));

  @include media-breakpoint-down(xs) {
    --aside-image-height: 60px;
  }
}

.article-aside {
  position: absolute;
  top: 0;
  right: spacing('neg-lg');
  transform: translateX(100%);
  max-width: 200px;
  z-index: z('100');

  @include media-breakpoint-down(md) {
    position: relative;
    right: unset;
    transform: translateX(0);
    max-width: unset;

    display: flex;
    align-items: flex-end;
    margin-top: spacing('lg');
  }

}

.article-aside__image {
  display: inline-block;
  width: var(--aside-image-width);
  height: var(--aside-image-height);
  margin-bottom: spacing('xs');
}

.article-aside__text {
  font-size: type-size(2);
  color: color('main', 0.5);

  @include media-breakpoint-down(md) {
    margin-left: spacing('sm');
    margin-bottom: spacing('xs');
  }
}
