@import '~styles/main-utils';

.article-aside {
  position: absolute;
  top: 0;
  right: -#{spacing('lg')};
  transform: translateX(100%);
  max-width: 200px;
  z-index: z('100');

  @include media-breakpoint-down(md) {
    position: relative;
    right: unset;
    transform: translateX(0);
    max-width: unset;

    display: flex;
    align-items: flex-end;
    margin-top: spacing('lg');
  }

}

.article-aside__image {
  max-width: 100%;
  height: 80px;
  margin-bottom: spacing('xs');

  @include media-breakpoint-down(xs) {
    height: 60px;
  }
}

.article-aside__text {
  font-size: type-size(2);
  color: color('main', 0.5);

  @include media-breakpoint-down(md) {
    margin-left: spacing('sm');
    margin-bottom: spacing('xs');
  }
}
