@import '~styles/main-utils';

.article-quote {
  @include generate-type-style('quote');

  width: unset;

  margin: #{spacer('5xl')} 0 #{spacer('7xl')};
  margin-left: -#{spacer('3xl')};

  @include media-breakpoint-down(sm) {
    margin: #{spacer('4xl')} 0 #{spacer('6xl')};
    margin-left: 0;
  }

}
