@import '~styles/main-utils';

.company {
  padding-top: spacing('6xl');

  @include media-breakpoint-down(md) {
    padding-top: spacing('4xl');
  }

  @include media-breakpoint-down(xs) {
    padding-top: spacing('2xl');
  }
}

.company__container {
  @include container;

  padding-left: 0;
  padding-right: 0;
}

.company__list {
  @include gradient-overlay;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.company__item {
  position: relative;
  margin-bottom: spacing('2xl');

  &[class*="active"] {
    .company__image {
      opacity: opacity('100');
    }

    .company__text {
      opacity: opacity('40');
    }
  }

  @include media-breakpoint-between(sm, md) {
    margin-right: spacing('2xl');
  }

  @include media-breakpoint-down(sm) {
    margin-left: spacing('md');
  }

  @include media-breakpoint-up(md) {
    &:hover {
      .company__image {
        opacity: opacity('100');

        transition: opacity 100ms ease-in-out;
      }

      .company__text {
        opacity: opacity('40');

        transition: opacity 100ms ease-in-out;
      }
    }
  }
}

.company__image,
.company__text {
  transition: opacity 250ms ease-in-out;
}

.company__image {
  opacity: opacity('30');

  @include media-breakpoint-down(xs) {
    height: 24px;
  }
}

.company__text {
  position: absolute;
  opacity: opacity('0');
  font-size: type-size(2);

  // :TODO: spacing('neg-md')}
  bottom: -#{spacing('md')};

  left: 50%;
  transform: translate(-50%, 100%);
  white-space: nowrap;
  color: currentColor;
  pointer-events: none;

  @include media-breakpoint-down(sm) {
    left: 0;
    transform: translate(0, 100%);
  }
}

// :HACK: for swiper

[id="scnsoft"] {
  width: 160px !important;
}
[id="treehouse"] {
  width: 139px !important;
}
[id="yandex-praktikum"] {
  width: 160px !important;
}
[id="hacker-rank"] {
  width: 168px !important;
}
