@import '~styles/main-utils';

.navigation__item {
  --rgb-link: var(--rgb-main-g);

  > a {
    position: relative;
    line-height: 1;
  }

  &:not(:last-child) {
    margin-right: spacer('2xl');
  }

  @include media-breakpoint-down(sm) {
    &:not(:last-child) {
      margin-right: spacer('xl');
    }
  }

  @include media-breakpoint-down(xs) {
    &:not(:last-child) {
      margin-right: spacer('lg');
    }
  }
}

.navigation__link {
  position: relative;
  display: flex;
  line-height: 1;

  &._active {
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 24px);
      height: calc(100% + 16px);
      background-color: color-rgba('main', 0.1);
      border-radius: 8px;

      transform: translate(-50%, -50%);
    }
  }

  svg {
    height: 0.75em;
    margin-left: spacer('3xs');
    opacity: opacity('50');
  }
}

[data-theme="dark"] .navigation__link {
  &._active::before {
    background-color: color-rgba('main', 0.13);
  }
}
