@import '~styles/main-utils';

.article {
  @include section;

  padding-top: spacer('5xl');

  @include media-breakpoint-down(md) {
    padding-top: spacer('4xl');
  }

  @include media-breakpoint-down(xs) {
    padding-top: spacer('3xl');
  }
}

.article__container {
  @include container;
}
