// Color palette
//

$colors: quote-map-keys($colors);
$color-background: map-get($colors, 'light', 'background') !default;
$color-main: map-get($colors, 'light', 'main') !default;


// Breakpoints
//

$grid-columns: map-get($grid, 'columns') !default;
$grid-gutter: map-get($grid, 'gutter') !default;
$grid-breakpoints: map-get($grid, 'breakpoints') !default;
$grid-max-widths: map-get($grid, 'max-widths') !default;

// Spacing
//

$spacers: quote-map-keys($spacers);
$spacers: map-get($spacers) !default;
$spacers-rem: rem-map($spacers) !default;
$spacers-em: em-map($spacers) !default;


// Typography
//

// Font path
$font-path: map-get($font, 'path') !default;

// Typefaces
$font-typefaces: map-get($font, 'typefaces') !default;

// Font family
$font-family: system-ui, sans-serif !default;
$font-family-primary: map-get($font-typefaces, 'primary', 'family'), $font-family !default;

// Font size
$font-size: get-type-size(3) !default;

// Line height
$font-height-default: 1.5 !default;
$font-height-condensed: 1.25 !default;
$font-height-condensed-ultra: 1 !default;

// Font weight
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// Body
//

$body-family: $font-family-primary !default;
$body-size: $font-size !default;
$body-line-height: $font-height-default !default;
$body-weight: $font-weight-normal !default;
$body-color: color-rgb('main') !default;

// Headings
//

$type-tokens: (
  'h1': (
    font-size: get-type-size(10),
    font-weight: $font-weight-bold,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
    breakpoints: (
      'md': (
        font-size: get-type-size(9),
      ),
      'xs': (
        font-size: get-type-size(8),
      )
    )
  ),
  'h2': (
    font-size: get-type-size(7),
    font-weight: $font-weight-bold,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
  ),
  'h3': (
    font-size: get-type-size(5),
    font-weight: $font-weight-bold,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
  ),

  'd1': (
    font-size: get-type-size(16),
    font-weight: $font-weight-medium,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
    breakpoints: (
      'md': (
        font-size: get-type-size(13),
      ),
      'xs': (
        font-size: get-type-size(10),
        font-weight: $font-weight-semibold,
      )
    )
  ),
  'd2': (
    font-size: get-type-size(14),
    font-weight: $font-weight-semibold,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
    breakpoints: (
      'md': (
        font-size: get-type-size(11),
      ),
      'xs': (
        font-size: get-type-size(9),
      )
    )
  ),
  'd3': (
    font-size: get-type-size(12),
    font-weight: $font-weight-semibold,
    line-height: $font-height-condensed,
    margin: 0 0 map-get($spacers-em, 'md'),
    breakpoints: (
      'md': (
        font-size: get-type-size(10),
      ),
      'xs': (
        font-size: get-type-size(7),
        letter-spacing: -0.75px
      )
    )
  ),

  'sub': (
    font-size: get-type-size(6),
    font-weight: $font-weight-medium,
    line-height: $font-height-condensed-ultra,
    margin: 0 0 map-get($spacers-em, 'md'),
    breakpoints: (
      'md': (
        font-size: get-type-size(4),
      ),
      'xs': (
        font-size: get-type-size(2),
      )
    )
  ),

  'body': (
    color: $body-color,
    font-family: $body-family,
    font-size: $body-size,
    font-weight: $body-weight,
    line-height: $body-line-height,
  )

)
