// Color palette
//

$colors: quote-map-keys($colors);
$color-background: map-get($colors, 'light', 'background') !default;
$color-main: map-get($colors, 'light', 'main') !default;


// Breakpoints
//

$grid-columns: map-get($grid, 'columns') !default;
$grid-gutter: map-get($grid, 'gutter') !default;
$grid-breakpoints: map-get($grid, 'breakpoints') !default;
$grid-max-widths: map-get($grid, 'max-widths') !default;


// Spacing
//

$spacing-tokens: quote-map-keys($spacing-tokens);
$spacing-tokens: map-get($spacing-tokens) !default;


// Opacity
//

$opacity-tokens: quote-map-keys($opacity-tokens);
$opacity-tokens: map-get($opacity-tokens) !default;


// Z-index
//

$z-tokens: quote-map-keys($z-tokens);
$z-tokens: map-get($z-tokens) !default;


// Typography
//

// Font family
$font-family-primary: 'Inter', sans-serif !default;

// Font size
$font-size: type-size(3) !default;

// Line height
$font-height-default: 1.5 !default;
$font-height-condensed: 1.25 !default;
$font-height-condensed-ultra: 1 !default;

// Font weight
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;


// Body
//

$body-family: $font-family-primary !default;
$body-size: $font-size !default;
$body-line-height: $font-height-default !default;
$body-weight: $font-weight-normal !default;
$body-color: color('main') !default;


// Type setting
//

$type-tokens: (
  'h1': (
    font-size: type-size(10),
    font-weight: $font-weight-bold,
    line-height: $font-height-condensed,
    margin: 0 0 spacing-em('md'),
    breakpoints: (
      'md': (
        font-size: type-size(9),
      ),
      'xs': (
        font-size: type-size(8),
      )
    )
  ),
  'h2': (
    font-size: type-size(7),
    font-weight: $font-weight-bold,
    line-height: $font-height-condensed,
    margin: 0 0 spacing-em('md'),
  ),
  'h3': (
    font-size: type-size(5),
    font-weight: $font-weight-semibold,
    line-height: $font-height-condensed,
    margin: 0 0 spacing('xs'),
    opacity: opacity('50'),
    breakpoints: (
      'md': (
        font-size: type-size(4),
      )
    )
  ),

  'd1': (
    font-size: type-size(16),
    font-weight: $font-weight-medium,
    line-height: $font-height-condensed,
    margin: 0 0 spacing-em('md'),
    breakpoints: (
      'md': (
        font-size: type-size(13),
      ),
      'xs': (
        font-size: type-size(10),
        font-weight: $font-weight-semibold,
      )
    )
  ),
  'd2': (
    font-size: type-size(14),
    font-weight: $font-weight-semibold,
    line-height: $font-height-condensed,
    margin: 0 0 spacing-em('md'),
    breakpoints: (
      'md': (
        font-size: type-size(11),
      ),
      'xs': (
        font-size: type-size(9),
      )
    )
  ),
  'd3': (
    font-size: type-size(12),
    font-weight: $font-weight-semibold,
    line-height: $font-height-condensed,
    margin: 0 0 spacing-em('md'),
    breakpoints: (
      'md': (
        font-size: type-size(10),
      ),
      'xs': (
        font-size: type-size(7),
        letter-spacing: -0.75px
      )
    )
  ),

  'sub': (
    font-size: type-size(6),
    font-weight: $font-weight-medium,
    line-height: $font-height-condensed-ultra,
    margin: 0 0 spacing-em('md'),
    breakpoints: (
      'md': (
        font-size: type-size(4),
      ),
      'xs': (
        font-size: type-size(2),
      )
    )
  ),

  'lead': (
    font-size: type-size(7),
    font-weight: $font-weight-semibold,
    line-height: type-size(9),
    max-width: spacing('article'),
    margin: 0 0 type-size(7),
    breakpoints: (
      'md': (
        font-size: type-size(6),
        line-height: type-size(8),
        margin: 0 0 type-size(6),
      ),
      'xs': (
        font-size: type-size(5),
        line-height: type-size(7),
      )
    )
  ),

  'paragraph': (
    font-size: type-size(5),
    font-weight: $font-weight-medium,
    line-height: type-size(7),
    max-width: spacing('article'),
    margin: 0 0 type-size(7),
    breakpoints: (
      'md': (
        font-size: type-size(4),
        line-height: type-size(6),
        margin: 0 0 type-size(6),
      ),
    )
  ),

  'quote': (
    font-size: type-size(14),
    font-weight: $font-weight-semibold,
    line-height: type-size(16),
    width: 100%,
    breakpoints: (
      'md': (
        font-size: type-size(12),
        line-height: type-size(14),
      ),
      'xs': (
        font-size: type-size(9),
        line-height: type-size(10),
      )
    )
  ),

  'body': (
    color: $body-color,
    font-family: $body-family,
    font-size: $body-size,
    font-weight: $body-weight,
    line-height: $body-line-height,
  ),

);
