@function quote-map-keys($map) {
  $new-map: ();

  @each $key,$value in $map {
    @if type-of($value) == 'map' {
      $value: quote-map-keys($value);
    }

    $new-map: map-merge($new-map, (quote(#{$key}): $value));
  }

  @return $new-map;
}
