@import '~styles/main-utils';

@mixin line {
  position: absolute;
  z-index: z('bottom');

  path {
    stroke-width: 4px;
    vector-effect: non-scaling-stroke;
    stroke: color('green');

    @include media-breakpoint-down(md) {
      stroke-width: 3px;
    }
  }
}

.avatar {
  --aside-image-width: calc(var(--aside-image-height) / 1.125);
}

.line-group {
  position: relative;
  display: inline-block;
}

.line-1 {
  @include line;

  z-index: z('0');

  height: 86px;
  top: 0;
  left: 0;

  transform: translate(-9%, -4%);

  @include media-breakpoint-down(xs) {
    height: 65px;
  }
}

.line-2 {
  @include line;

  height: 82px;
  left: 50%;
  bottom: 0;

  transform: translate(-50%, 0);

  @include media-breakpoint-down(md) {
    height: 65px;
  }

  @include media-breakpoint-down(xs) {
    height: 44px;
  }
}

.line-3 {
  @include line;

  height: 38px;
  right: 0;
  top: 0;

  transform: translate(50%, -75%);

  @include media-breakpoint-down(md) {
    height: 30px;
  }
}

.line-4 {
  @include line;

  height: 112px;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
