@import '~styles/main-utils';

.navigation__tag {
  position: absolute;
  bottom: 0.4rem;
  right: -0.3rem;
  transform: translateY(100%) rotate(-5deg);
  display: inline-block;
  font-size: type-size(1);
  line-height: 18px;
  padding: 0 spacing('xs');
  border-radius: 6px;
  background-color: rgba(black, 0.1);
  text-transform: lowercase;
  white-space: nowrap;

  &._soon {
    color: black;
    background-color: color('yellow', 0.9);
  }

  &._in-progress {
    color: rgba(black, 0.75);
    background-color: color('orange', 0.9);
  }
}
