@import '~styles/main-utils';

.navigation {
  position: relative;
  font-size: get-type-size(4);

  margin-left: -#{map-get($spacers, 'md')};
  margin-right: -#{map-get($spacers, 'md')};

  display: flex;
  align-items: center;
}

.navigation__links {
  @include gradient-overlay;
  @include hide-scrollbar;

  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;

  padding: 0 map-get($spacers, 'md') map-get($spacers, 'md');
  margin-bottom: -#{map-get($spacers, 'md')};
}

