@import '~styles/main-utils';

.navigation {
  position: relative;
  font-size: type-size(4);

  margin-left: spacing('neg-md');
  margin-right: spacing('neg-md');

  display: flex;
  align-items: center;
}

.navigation__links {
  @include gradient-overlay;
  @include hide-scrollbar;

  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;

  padding: spacing('md') spacing('md');
  margin-bottom: spacing('neg-md');
  margin-top: spacing('neg-md');
}

