@import '~styles/main-utils';

.hero {
  @include section;

  padding-top: spacer('5xl');

  @include media-breakpoint-down(md) {
    padding-top: spacer('4xl');
  }

  @include media-breakpoint-down(xs) {
    padding-top: spacer('3xl');
  }
}

.hero__container {
  @include container;
}

.hero__caption {
  margin-right: spacer('xl');

  @include media-breakpoint-down(sm) {
    margin-right: spacer('5xl');
  }

  @include media-breakpoint-down(xs) {
    margin-right: 0;
  }
}

.hero__underline {
  position: relative;

  svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(100% + 0.5em);
    height: auto;
    z-index: z('bottom');
    stroke: color-rgb('line');
    stroke-width: 4px;
  }
}
