@import '~styles/main-utils';
@import './style.scss.json';

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: opacity('100');

  background-color: color-rgb('background');

  z-index: z('top');

  &._loading {
    opacity: opacity('0');
    transition: opacity #{$loadedDelay}ms ease-in-out;
  }

  svg {
    @include logo;

    opacity: opacity('50');
  }

  span {
    font-size: type-size(2);
    margin-top: spacer('xs');
    opacity: opacity('50');
  }
}
