@import '~styles/main-utils';

.article-header {
  margin-bottom: spacer('5xl');

  @include media-breakpoint-down(md) {
    margin-bottom: unset;
  }

  & + aside {
    @include media-breakpoint-down(md) {
      margin-bottom: spacer('4xl');
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: spacer('2xl');
    }
  }

  h1 {
    margin: 0;
  }
}
