@import '~styles/main-utils';

.article-header {
  margin-bottom: spacing('5xl');

  @include media-breakpoint-down(md) {
    margin-bottom: unset;
  }

  & + aside {
    @include media-breakpoint-down(md) {
      margin-bottom: spacing('4xl');
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: spacing('2xl');
    }
  }

  h1 {
    margin: 0;
  }
}
