@mixin container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing('md');
  padding-right: spacing('md');

  @include media-breakpoint-up(md) {
    max-width: gird-max-width('xl');
    padding-left: spacing('4xl');
    padding-right: spacing('4xl');
  }
}

@mixin section {
  padding-top: spacing('3xl');
  padding-bottom: spacing('3xl');

  @include media-breakpoint-down(md) {
    padding-top: spacing('2xl');
    padding-bottom: spacing('2xl');
  }

  @include media-breakpoint-down(xs) {
    adding-top: spacing('xl');
    padding-bottom: spacing('xl');
  }
}
