@mixin gradient-overlay {
  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    background: linear-gradient(-90deg, color-rgba('background', 0) 0%, color-rgba('background', 1) 100%);
    width: map-get($spacers, 'md');
    height: 100%;

    z-index: z('top');
  }

  &:after {
    content: '';

    position: absolute;
    right: 0;
    top: 0;

    background: linear-gradient(90deg, color-rgba('background', 0) 0%, color-rgba('background', 1) 100%);
    width: map-get($spacers, '2xl');
    height: 100%;

    z-index: z('top');
  }
}
