@import '~styles/main-utils';

.error {
  --rgb-link: #{rgb-var('white')};
  --rgb-focus: #{rgb-var('white')};

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: hex-code('blue');
  color: hex-code('white');

  h1 {
    @include generate-type-style('d1');

    font-weight: $font-weight-semibold;
    line-height: $font-height-condensed-ultra;
  }

  h2 {
    @include generate-type-style('h2');

    font-weight: $font-weight-medium;
  }

  p {
    margin: 0;
    margin-bottom: 1em;
  }

  a {
    $spacing: 1.5em;

    position: relative;
    margin: 0 auto;
    margin-top: spacing('4xl');
    padding-left: $spacing;

    &:hover svg {
      left: -0.25em;
      transition: left 100ms ease-in-out;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.25em;
    margin-right: spacing('2xs');

    transition: left 250ms ease-in-out;
  }
}

.error__container {
  display: flex;
  flex-direction: column;
  margin: 0 spacing('md');
  max-width: 424px;
  text-align: center;
}
