@import '~styles/main-utils';

.footer {
  @include section;

  padding-bottom: spacing('xl') !important;
}

.footer__container {
  @include container;

  & + & {
    margin-top: spacing('md');
  }
}

.footer__nav {
  margin-bottom: spacing('xl');
}

.footer__info {
  font-size: type-size(2);
  opacity: opacity('50');
  display: flex;
  align-items: center;
  line-height: 1;

  svg {
    height: 1em;
    margin-right: spacing('2xs');
    stroke: currentColor;
    margin-bottom: 2px;
  }
}
